# Tarefa 01

- Leia os enunciados com atenção
- Saiba que pode haver mais de uma resposta correta
- Insira novas células de código sempre que achar necessário
- Em caso de dúvidas, procure os tutores
- Divirta-se :)

#### 1)  crie uma série do pandas a partir de uma lista com os dados abaixo:

Em um estudo sobre alteração na tempreatura global, A NASA disponibiliza dados de diferenças de de temperatura média da superfície terrestre relativos às médias de temperatura entre 1951 e 1980. Os dados originais podem ser vistos no site da NASA/GISS, e estão dispostos a cada década na tabela abaixo.

|ano|anomalia termica|
|:-:|:----:|
| 1900 | -0.08 |
| 1920 | -0.27 |
| 1940 | 0.12 |
| 1960 | -0.03 |
| 1980 | 0.26 |
| 2000 | 0.40 |
| 2020 | 1.02 |

Crie uma séries do Pandas a partir de uma lista com esses dados.

In [78]:
import pandas as pd
import numpy as np

# Seu código aqui

anos = [1900, 1920, 1940, 1960, 1980, 2000, 2020]
pd.Series(data=anos)

0    1900
1    1920
2    1940
3    1960
4    1980
5    2000
6    2020
dtype: int64

In [79]:
anomalia_termica = [-0.08, -0.27, 0.12, -0.03, 0.26, 0.40, 1.02]
pd.Series(data=anomalia_termica)

0   -0.08
1   -0.27
2    0.12
3   -0.03
4    0.26
5    0.40
6    1.02
dtype: float64

In [80]:
indice=['A','B','C','D','E','F','G']
dados=anos
periodocomindex=pd.Series(data=anos, index=indice)
periodocomindex

A    1900
B    1920
C    1940
D    1960
E    1980
F    2000
G    2020
dtype: int64

#### 2) Coloque os anos nos índices conforme a tabela.

In [81]:

# seu código aqui
pd.DataFrame([1900, 1920, 1940, 1960, 1980, 2000, 2020],columns=['Anos'])

   Anos
0  1900
1  1920
2  1940
3  1960
4  1980
5  2000
6  2020

#### 3) A partir do dicionário abaixo, crie uma séries do Pandas:

In [82]:
dic_temperaturas = {1900: -.08, 1920: -.27, 1940: .12, 1960: -.03, 1980: .26, 2000: .40, 2020: 1.02}

# seu código aqui
dic_temperaturas = {1900: -.08, 1920: -.27, 1940: .12, 1960: -.03, 1980: .26, 2000: .40, 2020: 1.02}
pd.Series(data=dic_temperaturas )

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

Para transformar um nd-array em um DataFrame, você pode usar a biblioteca pandas do Python. Aqui está um exemplo de como fazer isso com o seu array:

In [99]:
import pandas as pd
import numpy as np

arr = np.random.normal(100, 10, (20,3))
df = pd.DataFrame(arr)
pd.DataFrame(arr)

             0           1           2
0   114.972414  101.623630   95.663945
1   110.631679  104.246661  108.757070
2    98.222358   94.099459  110.276794
3   107.604461   99.943717   93.644635
4    95.731890   91.499417   80.094258
5    89.276857  106.943368  114.713497
6    92.253058   91.708273  100.658122
7    90.310801   91.382714  106.023922
8    95.358953   98.248266   92.319416
9   105.925832  112.075360   90.596407
10  103.159087   88.490075  105.436631
11   86.015840   95.248522  116.922926
12  103.277645   99.431223  112.638067
13   92.008970  115.706872   88.258723
14   94.930864   86.463268   94.295436
15  103.041067   95.673159  104.377742
16   95.358182   94.724909   90.512976
17  113.078006   96.258507   97.118042
18  113.062691   97.409324   90.932760
19  109.281732   97.830306   90.373196

#### 5) Nomeie os índices das linhas com inteiros de 1 a 20, e as colunas com os nomes "x1", "x2", e "x3" respectivamente.

In [117]:
#seu código aqui
pd.DataFrame(arr, columns=['X1', 'X2', 'X3'])

            X1          X2          X3
0    94.673165  114.504150  107.747116
1    82.295441  107.763392   96.914626
2   107.136944   93.163249   91.662456
3    86.237010   79.074602   93.117049
4   106.579397   96.794694  115.977978
5   105.557889   97.775687  110.866745
6   106.545741   99.577280   97.161421
7   108.890173  105.353256  118.930774
8   104.022008   86.682929  117.176691
9   106.454866  112.457352   98.803852
10  104.730744   94.681390   91.764952
11   96.473196   99.016107   78.740858
12  101.006532  118.494978   86.668500
13   98.092361   89.146249  113.229936
14   96.729914   93.127225   87.030726
15   88.071609  100.540323  102.329513
16  112.588529   93.372561  109.047613
17   92.945316  115.803349   81.019512
18  117.945360  100.743546  100.360770
19  108.292572  122.078590   98.074673

#### 6) No DataFrame do exercício 5, crie uma nova coluna como sendo a média das três colunas, e dê a ela o nome de "media" (não recomendo colocar acentos em nomes de variáveis).

In [143]:
# seu código aqui
import pandas as pd
import numpy as np

arr = np.random.normal(100, 10, (20,3))
df = pd.DataFrame(arr)
df['média'] = df.sum(axis=1)

In [145]:
print(df)

             0           1           2       média
0    83.372192  102.656267   91.526957  277.555416
1   109.728476   89.504531   88.814132  288.047140
2    89.990312  111.991087   86.649607  288.631006
3    90.536435   90.960999   99.941128  281.438562
4    89.908506  101.626714   97.858798  289.394017
5    91.776193  101.657990  101.384814  294.818997
6    67.870267   99.298587   93.639782  260.808636
7    99.052713  100.764328  114.690270  314.507311
8   111.046085  108.679558  102.598847  322.324490
9   107.568300  111.883917  102.521593  321.973810
10   99.182626  113.330585   85.942382  298.455594
11  105.379008  105.852229  105.745323  316.976560
12  110.258649   98.981565  112.832438  322.072652
13  105.417762  113.529339   99.754656  318.701757
14   93.199411  114.774268  100.392538  308.366218
15  103.473226   91.333730  113.825231  308.632186
16  109.898413   99.348196   90.676752  299.923361
17   94.407831   92.777255  108.844882  296.029969
18   99.248717   84.043650   86.216339  269.508706
19   93.964209   97.662328   93.187969  284.814506

#### 7) No DataFrame do exercício 6, crie uma nova coluna chamada "log_med", contendo o logaritmo natural da média calculada no exercício 6 <br>

In [146]:
# seu código aqui
import pandas as pd
import numpy as np

arr = np.random.normal(100, 10, (20,3))
df = pd.DataFrame(arr)
df['média'] = df.sum(axis=1)
df['log_med'] = df['média'].apply(np.log)

In [147]:
print(df)

             0           1           2       média   log_med
0   103.932184   91.434050  101.068085  296.434319  5.691826
1   118.254071   86.342624  101.718927  306.315622  5.724616
2    77.553707  123.140985  110.314416  311.009108  5.739822
3   105.406302   93.766293  112.222088  311.394683  5.741061
4   102.610852  108.617688   90.527750  301.756290  5.709620
5   101.327296  101.048646   92.697325  295.073266  5.687224
6   102.900950  104.167413   98.354406  305.422769  5.721697
7   112.798575  113.836667  104.581659  331.216900  5.802773
8    95.372907  110.633118   98.425608  304.431633  5.718447
9   115.038455   89.755258   79.949956  284.743668  5.651589
10  104.387311   88.176295   99.399557  291.963163  5.676628
11   89.757129   97.552590   93.741482  281.051201  5.638537
12   96.366940   98.518962   91.780386  286.666288  5.658319
13   96.282075  105.410819  103.219047  304.911942  5.720023
14   83.303079  105.401864   97.418808  286.123752  5.656424
15  107.532669  110.336218   91.523939  309.392826  5.734612
16   95.533975   86.191760  100.289405  282.015139  5.641961
17   88.732269   91.428056   94.955333  275.115658  5.617192
18   90.781021  104.817326   80.326694  275.925040  5.620129
19  107.967266   91.424263   99.509493  298.901023  5.700112